.input-group {
    
}

.input-group .input-user,
.input-group .input-pass {
    border: none;
    width: 100%;
}
.input-group .input-pass {
    border-top: 1px solid;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.input-user {
    border: 1px solid #000;
}
.input-user .element {
    border: none;
    outline: none;
    box-shadow: none;
}
.input-user .label-wrapper {
    position: relative;
    left: -100%;
    top: -13px;
    color: #6d6d6d;
    width: 0px;
    pointer-events: none;

    transition: all .2s;
}
.input-user:focus-within .label-wrapper,
.input-user-active .label-wrapper {
    top: -29px;
    font-size: 70%;
}

.input-pass {
    border: 1px solid #000;
}
.input-pass .element {
    border: none;
    outline: none;
    box-shadow: none;
}

.pointer {
    cursor: pointer;
}